#info-block {
    .info {

        &__title {
            margin-bottom: 40px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        &__item {
            background: var(--background);
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 35px 20px;
        }

        &__icon {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            img, svg {
                min-width: 60px;
                min-height: 60px;
            }
        }

        &__text {}


    }
    .container {}

}

@media (max-width: 1400px) {
    #info-block .info__list {
        grid-template-columns: repeat(2, 1fr);
    }
    #info-block .info__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 825px) {
    #info-block .info__list {
        grid-template-columns: 1fr;
    }
    #info-block .info__item {
        padding: 20px;
    }
}

@media (max-width: 680px) {
    
    
} 

