#footer {
    background: var(--head);
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1880px;
    margin: 0px auto;
    border-radius: 20px 20px 0 0;



    * {
        color: var(--white);
    }

    ul,
    li {
        list-style: none;
    }

    .footer {

        &__container {
            max-width: 1660px;
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a:hover {
                color: var(--primary);
            }
        }

        &__dev {
            display: flex;
            gap: 10px;
            align-items: center;

            svg path {
                fill: var(--white);
                transition: 0.3s fill ease-in-out;
            }

            &:hover svg path {
                fill: var(--primary);
            }
        }

        &__top {
            position: relative;
            display: flex;
            gap: 38px;
            // justify-content: space-between;
            margin-bottom: 70px;
        }

        &__requisites {
            margin-bottom: 30px;

            p {
                margin-bottom: 5px;
                font-family: var(--fontFamily);
                font-size: 14px;
                font-weight: 500;
                line-height: 19.6px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }
        }

        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 200px;
            max-height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__list {
            .list__item a {
                font-family: var(--fontFamily);
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                line-height: 14px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                &:hover {
                    color: var(--primary);
                }
            }

            .list__item .sub-menu {
                margin-top: 25px;

                a {
                    font-family: var(--fontFamily);
                    text-transform: unset;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;


                }

                .list__item {
                    margin-bottom: 15px;
                }
            }

            .list__item {
                margin-bottom: 10px;
            }
        }

        &__column:last-child {
            margin-left: auto;
            display: flex;
            flex-direction: column;

        }

        &__column:first-child {
            margin-right: 38px;
        }

        &__phone {
            margin-bottom: 40px;

            .phones__name {
                margin-bottom: 10px;
            }

            .phones__link {
                padding-left: 20px;

                &:hover {
                    color: var(--primary);
                }
            }
        }

        &__contacts {
            display: flex;
            align-self: flex-end;

            a:hover {
                color: var(--primary);
            }

            .phones-holder {
                margin-bottom: 5px;
            }

            .soc-holder {
                display: flex;
                gap: 5px;
                margin-left: 40px;
                margin-right: 10px;

                .soc {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--white);
                    border-radius: 5px;

                    &:hover {
                        background: var(--primary);

                        svg path {
                            fill: var(--white);
                        }
                    }
                }
            }
        }

        &__contacts-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
    }
}


@media (max-width: 1260px) {
    #footer .footer__logo {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }

    #footer .footer__phone .phones__link {
        font-size: 34px;
        line-height: 110%;
    }

    #footer .footer__column:last-child {
        margin-left: 0;
    }

    #footer .footer__column:first-child {
        margin-right: 0;
    }



    #footer .footer__contacts .soc-holder {
        margin-left: 0;
        margin-right: 0;
    }

    #footer .footer__contacts {
        gap: 10px;
    }
}

@media (max-width: 1210px) {

    #footer .footer__top {
        gap: 20px;
    }
}

@media (max-width: 1150px) {
    #footer .footer__top {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 40px;
        justify-content: center;
    }

    #footer .footer__contacts {
        align-self: flex-start;
    }
}


@media (max-width: 730px) {
    #footer .footer__top {
        gap: 10px;
        grid-template-columns: 1fr;
    }

    #footer .footer__requisites p {
        text-align: center;
    }

    #footer .footer__list .list__item a {
        display: block;
        width: 100%;
        text-align: center;
    }

    #footer .footer__list .list__item .sub-menu a {
        text-align: center;
    }

    #footer .footer__logo {
        margin: 0px auto;
    }

    #footer .footer__phone .phones__name {
        text-align: center;
    }

    #footer .footer__phone .phones__link {
        padding-left: 0;
        display: block;
        text-align: center;
    }

    #footer .footer__contacts {
        align-self: center;
    }

    #footer .footer__top {
        margin-bottom: 20px;
    }

    #footer .footer__logo {
        max-width: 100px;
        max-height: 100px;
    }
}


@media (max-width: 710px) {
    #footer .footer__bottom {
        flex-direction: column;
        gap: 10px;
    }
}


@media (max-width: 485px) {
    #footer .footer__contacts {
        flex-direction: column;
    }

    #footer .footer__contacts .soc-holder {
        justify-content: center;
    }

    #footer .footer__contacts-wrapper {
        align-items: center;
    }
}

@media (max-width: 334px) {
    #footer .footer__phone .phones__link {
        font-size: 32px;
    }
}