@charset "UTF-8";
#text-block {
  background: var(--background);
  padding: 40px 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
#text-block .text__right {
  padding-top: 20px;
  padding-left: 30px;
}
#text-block .text__title {
  margin-bottom: 62px;
}
#text-block .text__descr {
  /* height: 475px; */
  overflow-y: auto;
  padding-right: 40px;
}
#text-block .text__descr::-webkit-scrollbar {
  width: 2px;
  /* Ширина дорожки для вертикального скроллбара */
  height: 2px;
  /* Ширина дорожки для горизонтального скроллбара */
}
#text-block .text__descr::-webkit-scrollbar-track {
  background: #f0f0f0;
  /* Цвет дорожки */
}
#text-block .text__descr::-webkit-scrollbar-thumb {
  display: block;
  background-color: #007bff;
  /* Цвет ползунка */
  width: 4px;
  height: 4px;
  /* Ширина ползунка */
  border-radius: 2px;
  /* Скругленные края ползунка */
  border: 10px solid var(--primary);
}
#text-block .text__descr::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
  /* Цвет при наведении */
}
#text-block .text__descr * {
  color: var(--text);
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
#text-block .text__descr p {
  margin-bottom: 15px;
  font-family: var(--fontFamily);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: inherit;
}
#text-block .text__descr blockquote {
  padding: 20px 54px;
  padding-right: 20px;
  padding-bottom: 5px;
  position: relative;
  background: var(--background);
  border-radius: 20px;
  margin-bottom: 15px;
}
#text-block .text__descr blockquote::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  left: 20px;
  background: url(./images/attention-img.svg);
  position: absolute;
}
#text-block .text__descr ul li {
  margin-bottom: 10px;
  text-decoration: none;
  padding-left: 18px;
  list-style: none;
  position: relative;
  display: inline-block;
  color: inherit;
}
#text-block .text__descr ul li:before {
  content: "•";
  position: absolute;
  left: -2px;
  top: -2px;
  font-size: 42px;
  color: var(--primary);
}
#text-block .text__descr ul {
  margin-bottom: 5px;
  color: inherit;
}
#text-block .text__descr ol {
  margin-bottom: 10px;
  color: inherit;
  list-style-position: inside;
}
#text-block .text__descr ol li {
  margin-bottom: 5px;
  color: inherit;
}
#text-block .text__descr ol li::marker {
  margin-right: 15px;
}
#text-block .container {
  display: grid;
  grid-template-columns: 41% 1fr;
  gap: 20px;
}
#text-block .text-img {
  max-width: 630px;
  max-height: 670px;
  gap: 0px;
  border-radius: 20px;
  overflow: hidden;
}
#text-block .text-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 940px) {
  #text-block .container {
    display: flex;
    flex-direction: column-reverse;
  }
  #text-block .text-img {
    max-width: 450px;
    max-height: auto;
    margin: 0px auto;
  }
  #text-block .text__title {
    margin-bottom: 20px;
  }
  #text-block {
    padding: 15px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  #text-block .text__descr {
    height: 320px;
  }
  #text-block .text__right {
    padding-left: unset;
    padding-top: unset;
  }
  #text-block .text__descr p,
  #text-block .text__descr li {
    font-size: 14px;
  }
}/*# sourceMappingURL=block.css.map */